.login {
  width: 400px;
  height: 300px;
  margin: auto;
  text-align: center;
  margin-top: 30%;
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 0 0 4px 3px cornflowerblue;
}
.login [data-reach-tab][aria-selected="true"],
.login [data-reach-tab].active {
  background: cyan;
}

.login [data-reach-tab].disabled {
  opacity: 0.25;
}
button {
  margin: auto;
  position: relative;
  width: 50%;
  height: 50px;
  border: transparent;
  border-radius: 10px 10px 5px 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: rgb(69, 94, 119);
  
}
button:hover {
  background-color: aliceblue;
}


form.login-form {
  display: flex;
  margin: auto;
  margin-top: 30px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
input {
  margin-top: 10px;
  border: transparent;
  height: 30px;
  box-shadow: 0 0 3px 1px gainsboro;
  border-radius: 6px;
  text-align: center;
}
input:focus{
  outline: none;
  box-shadow: 0 0 5px 2px rgb(148, 132, 132);
  
}

label {
  padding: 10px;
}
